runs/
models/*.pt
data/smoke_dataset/train/
data/smoke_dataset/valid/
data/smoke_dataset/test/
datasets/
repos/
yolo*.pt
__pycache__/
*.pyc
.DS_Store
videos/
data/factory_frames/
data/factory_dataset/train/
data/factory_dataset/val/
venv/
.env
.ultralytics/
Ultralytics/
